<div class="row">
  <div class="col col-md"></div>
  <div class="col-10 col-md-8">
    <h2>Edit Budget</h2>
    <a class="btn btn-primary float-md-right" routerLink="/budgets">
      Back to the List of Budgets
    </a>
    <form [formGroup]="budgetForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="provider">Provider</label>
        <i class="fa fa-check-circle check"
           *ngIf="budgetForm.controls.provider.valid"></i>
        <i class="fa fa-exclamation-circle uncheck"
           *ngIf="budgetForm.controls.provider.invalid && budgetForm.controls.provider.touched"></i>
        <input type="text"
               class="form-control"
               id="provider"
               formControlName="provider"
               [(ngModel)]="budget.provider">
        <p class="alert alert-danger"
           *ngIf="budgetForm.controls.provider.invalid && budgetForm.controls.provider.touched">
           This field is a mandatory field
        </p>
      </div>
      <div class="form-group">
        <label for="date">Date</label>
        <input type="date"
               class="form-control"
               id="date"
               formControlName="date"
               [(ngModel)]="budget.date">
      </div>
      <div class="form-group">
        <label for="concept">Concept</label>
        <input type="text"
               class="form-control"
               id="concept"
               formControlName="concept"
               [(ngModel)]="budget.concept">
      </div>
      <div class="form-group">
        <label for="base">Tax Base</label>
        <input type="number"
               class="form-control"
               id="base"
               formControlName="base"
               [(ngModel)]="budget.base">
      </div>
      <div class="form-group">
        <label for="type">Type of tax</label>
        <select class="form-control"
                id="type"
                formControlName="type"
                [(ngModel)]="budget.type">
                <option value="">Select...</option>
                <option value=0> 4 %</option>
                <option value=0.1> 10 %</option>
                <option value=0.21> 21 %</option>
        </select>
      </div>
      <div class="form-group">
        <label for="tax">Tax</label>
        <input type="number"
               class="form-control"
               id="tax"
               formControlName="tax"
               [(ngModel)]="budgetForm.value.tax"
               disabled>
      </div>
      <div class="form-group">
        <label for="total">Total</label>
        <input type="number"
               class="form-control"
               id="total"
               formControlName="total"
               [(ngModel)]="budgetForm.value.total"
               disabled>
      </div>
      <button type="submit"
              class="btn btn-primary"
              [disabled]="!budgetForm.valid">
              Save Budget
      </button>
      <a class="btn btn-danger" routerLink="/budgets">Cancel</a>
      <p class="alert alert-danger" *ngIf="!budgetForm.valid">
        Please, complete all mandatory fields.
      </p>
    </form>
  </div>
  <div class="col col-md"></div>
</div>